<div class="container">
  <div class="pos-r w-100 h-100 content">

    <div class="d-f jc-c display-top">
      <canvas class="leds" #leds></canvas>
      <div class="glass pos-a w-100"></div>
      <div class="cover pos-a w-100">
        <div class="marks d-f jc-sb">
          <div class="mark" *ngFor="let b of settings.beats | beats"></div>
        </div>
      </div>
    </div>

    <div class="d-f fd-c ai-c w-100 h-100 display-bottom">
      <div class="leds pos-r d-f w-100">
        <div class="time d-f fd-c jc-c ai-c">
          <p>{{ settings.beats }}</p>
          <p>{{ settings.note * 4 }}</p>
        </div>
        <div class="tempo d-f jc-c ai-c">
          <p>{{ settings.bpm }}</p>
        </div>
        <div class="glass pos-a w-100 h-100"></div>
      </div>
    </div>

    <div class="d-f fd-c jc-sb ai-c w-100 h-100 controls">
      <div class="d-f jc-sb ai-c control">
        <button class="top" (click)="onBeatsChange(1)">+</button>
        <button class="top" (click)="onNoteChange()">></button>
        <button class="top lg" (click)="onTempoChange(1)">+</button>
        <button class="top sm" (click)="onTempoChange(10)">10</button>
      </div>
      <div class="d-f w-100 label">
        <p class="d-f jc-c ai-c h-100 ta-c">BEATS</p>
        <p class="d-f jc-c ai-c h-100 ta-c">NOTE</p>
        <p class="d-f jc-c ai-c h-100 ta-c">TEMPO</p>
      </div>
      <div class="d-f jc-sb ai-c control">
        <button class="bottom" (click)="onBeatsChange(-1)">-</button>
        <button class="bottom" (click)="onNoteChange(true)"><</button>
        <button class="bottom lg" (click)="onTempoChange(-1)">-</button>
        <button class="bottom sm" (click)="onTempoChange(-10)">10</button>
      </div>
    </div>

    <div class="d-f jc-sb ai-fe main">
      <p>LM-10</p>
      <button (click)="onToggle()">START</button>
    </div>

  </div>
</div>
