.container {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  padding: 8px;
  border-radius: 7px;
  background-color: #1D1D1D;
  .content {
  
    .display-top {
      background-color: #0A0A0A;
      height: 24px;
      .leds {
        width: calc(100% - 20px);
      }
      .glass {
        top: 0;
        height: 24px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1.4px);
        -webkit-backdrop-filter: blur(1.4px);
      }
      .cover {
        top: 24px;
        height: 8px;
        .marks {
          width: calc(100% - 26px);
          height: 6px;
          padding: 2px 13px 0 13px;
          background-color: #1D1D1D;
          .mark {
            width: 1px;
            height: 4px;
            background-color: #D2D2D2;
          }
        }
      }
    }

    .display-bottom {
      height: 80px;
      margin-top: 8px;
      background-color: #0A0A0A;
      .leds {
        height: 76px;
        padding-top: 2px;
        color: lime;
        font-family: 'VT323', monospace;
        .time {
          width: 48px;
          margin-left: 56px;
          font-size: 40px;
        }
        .tempo {
          width: 96px;
          margin-left: 73px;
          font-size: 64px;
        }
        .glass {
          top: 0;
          background: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(1.0px);
          -webkit-backdrop-filter: blur(1.0px);
        }
      }
    }

    .controls {
      height: 120px;
      margin-top: 8px;
      background-color: #1D1D1D;
      .control {
        button {
          width: 44px;
          height: 44px;
          background-color: transparent;
          box-sizing: border-box;
          color: #858585;
          border-left: 2px solid #0A0A0A;
          border-right: 2px solid #0A0A0A;
          outline: none;
          margin-right: 12px;
          &:nth-of-type(2) {
            margin-right: 44px;
          }
          &:nth-of-type(3) {
            margin-right: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
          &.top {
            border-top: 2px solid #0A0A0A;
            border-bottom: 0;
            border-radius: 12px 12px 0 0;
            &.sm {
              width: 42px;
              border-radius: 0 12px 0 12px;
            }
            &.lg {
              width: 58px;
              border-right: 0;
              border-radius: 12px 0 0 0;
            }
          }
          &.bottom {
            border-bottom: 2px solid #0A0A0A;
            border-top: 0;
            border-radius: 0 0 12px 12px;
            &.sm {
              width: 42px;
              border-radius: 12px 0 12px 0;
            }
            &.lg {
              width: 58px;
              border-right: 0;
              border-radius: 0 0 0 12px;
            }
          }
          .v-adj {
            margin-bottom: 2px;
            &.lg {
              margin-bottom: 1px;
            }
          }
        }
      }
      .label {
        height: 32px;
        p {
          width: 40px;
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 12px;
          border-left: 2px solid #0A0A0A;
          border-right: 2px solid #0A0A0A;
          color: #D2D2D2;
          &:nth-of-type(1) {
            margin-left: 30px;
            margin-right: 12px;
          }
          &:nth-of-type(3) {
            width: 96px;
            margin-left: 44px;
          }
        }
      }
    }

    .main {
      margin-top: 16px;
      button {
        width: 100px;
        height: 44px;
        background-color: transparent;
        box-sizing: border-box;
        font-family: 'Roboto Condensed', sans-serif;
        color: #D2D2D2;
        font-size: 14px;
        border: 2px solid #0A0A0A;
        border-radius: 12px;
        outline: none;
        margin-right: 30px;
      }
      p {
        margin-left: 8px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 28px;
        color: #858585;
      }
    }
  }
}
